#!/bin/sh
set -e
. /usr/share/debconf/confmodule
what="$1"
version="$2"

if [ "$1" != "reconfigure" ]; then
    db_input medium lnbackup-ng/welcome || true
    db_go
fi

# pokud existuje konfigurace pro mount point stareho lnbackupu,
if db_get lnbackup/mnt; then
    echo "old lnbackup found"

    # a pokud jsme jeste neimportovali nastaveni
    db_fget lnbackup-ng/welcome upgraded ||: ; UPGRADED="$RET"

    if [ "$UPGRADED" != "true" ]; then
        echo "converting config lnbackup-->lnbackup-ng"
        db_get lnbackup/part  ||: ; PART="$RET"
        db_get lnbackup/disk  ||: ; DISK="$RET"
        db_get lnbackup/mnt   ||: ; MNT="$RET"
        db_get lnbackup/free_i||: ; FREE_I="$RET"
        db_get lnbackup/free_b||: ; FREE_B="$RET"

        db_set lnbackup-ng/part   "$PART"
        db_set lnbackup-ng/disk   "$DISK"
        db_set lnbackup-ng/mnt    "$MNT"
        db_set lnbackup-ng/free_i "$FREE_I"
        db_set lnbackup-ng/free_b "$FREE_B"

        db_fset lnbackup-ng/part   seen false
        db_fset lnbackup-ng/disk   seen false
        db_fset lnbackup-ng/mnt    seen false
        db_fset lnbackup-ng/free_i seen false
        db_fset lnbackup-ng/free_b seen false

        db_fset lnbackup-ng/welcome upgraded true
    fi
fi


db_input critical lnbackup-ng/disk   || true
db_input critical lnbackup-ng/part   || true
db_input critical lnbackup-ng/mnt    || true
db_input critical lnbackup-ng/free_i || true
db_input critical lnbackup-ng/free_b || true

db_go

db_stop
exit 0

